<header class="d-flex flex-row-nowrap justify-content-center p-20 ">
	<div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
		<a href="/" class="header-logo">
			<img src=" {{ asset('images/As.png') }}" alt="">
		</a>

		<div class="header-search p-10 flex-fill">
			<i class="fa-solid fa-magnifying-glass" style="color: #311f51;"></i>
			<input type="text">
		</div>
		<div>
			<button class="btn btn-primary mr-5">Inscription</button>
			<button class="btn btn-primary-stroke">Connexion</button>
		</div>
	</div>
</header>
