<div class="sidebar d-flex flex-column mr-50">
	<a href="{{ path('question_form') }}" class="btn btn-primary btn-icon-primary">
		<i class="fa-solid fa-question mr-5" style="color: #fff;"></i>
		<span>Poser une question
		</span>
	</a>
	<ul class="sidebar-nav py-20">

		<a href="{{ path('home')}}" {% if app.request.pathinfo == path('home') %} class="active" {% endif %}}}">
			<i class="fa-solid fa-house mr-5"></i>Liste de questions
		</a>

		<a>
			<i class="fa-solid fa-pen mr-5"></i>
			Mes questions</li>
		<a>
			<i class="fa-solid fa-registered mr-5"></i>Mes réponses</a>
	</ul>

</div>
