<div class="sidebar d-flex flex-column mr-50">
	<button class="btn btn-primary btn-icon-primary">
		<i class="fa-solid fa-question mr-5" style="color: #fff;"></i>
		<span>Poser une question
		</span>
	</button>
	<ul class="sidebar-nav py-20">
		<li class="active">
			<i class="fa-solid fa-house mr-5"></i>Liste de questions
		</li>

		<li>
			<i class="fa-solid fa-pen mr-5"></i>
			Mes questions</li>
		<li>
			<i class="fa-solid fa-registered mr-5"></i>Mes réponses</li>
	</ul>

</div>
